/*red color : #C1292E */

*{	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #555555;
	background-color: #eee;
	overflow-x: hidden;
}

a{
	text-decoration: none;
	cursor: pointer;
}

button:focus{
	outline: none;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}

.headline h1{
	text-align: center;
	padding-bottom: 80px;
	font-weight: 600;
	font-size: 28px;
}

.headline h1::after{
	display: block;
	content: "";
	width: 75px;
	height: 3px;
	background-color: #C1292E;
	border-radius: 3px;
	margin: 0 auto;
	margin-top: 20px;
}

button{
	background-color: transparent;
	border:none;
	font-family: 'Raleway', sans-serif;
}

/*media queries*/

@media only screen and (max-device-width: 1300px){
	.container{
		width: 85vw;
	}
	
	.headline h1{
		font-size: 4vh;
	}
	
	.headline h1::after{
		width: 10vw;
		height: 5px;
	}
}



