.section-footer{
	height: 400px;
	background-color: #C1292E;
	width: 100%;
}

.footer-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.info-footer{
	flex-basis: 35%;
	height: 400px;
	padding: 50px 20px;
	color: #333;
}

.footer-logo{
	font-weight: 800;
	font-size: 24px;
	color: #eee;
	margin-bottom: 10px;
}

.footer-logo span{
	font-weight: 800;
	color: #eee;
}

.footer-text{
	padding: 20px 0;
	letter-spacing: 0.5px;
	color: #eee;
	margin-bottom: 90px;
}

.info-footer span{
	color: #333;
	font-weight: 600;
	font-size: 24px;
	margin-right: 10px;
}

.footer-phone, .footer-fax,.footer-email{
	padding-top: 5px;
	color: #eee;
	font-weight:500;
}

.navigation-footer{
	flex-basis: 25%;
	height: 400px;
	padding: 50px 20px;
}

.navigation-footer h3{
	text-align: center;
	color: #eee;
}

.footer-navigation-links{
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	color: #eee;
	margin-top: 60px;
}

.footer-navigation-link{
	display: block;
	color: #eee;
	padding: 5px 10px;
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 14px;
	transition: .3s;
}

.footer-navigation-link:hover{
	color:#333;
	transform: translateX(5px)
}

.social-media-footer{
	flex-basis: 35%;
	height: 400px;
	padding: 50px 20px;
	text-align: right;
}

.footer-visitors, .footer-clients{
	color: #eee;
	font-size: 14px;
	letter-spacing: 1px;
}

.footer-visitors strong, .footer-clients strong{
	font-size: 30px;
	margin-right: 20px;
	color: #333;
}

.footer-clients {
	margin-top: 10px;
}

.footer-newsletter{
	margin-top: 110px;
	color: #eee;
	text-align: center;
	font-weight: 600;
	position: relative;
}

.footer-newsletter p{
	width: 300px;
	margin-left: auto;
	padding: 0;
	text-align: right;
}

.footer-newsletter-input{
	position: absolute;
	right: 0;
}

.footer-newsletter input{
	border: none;
	padding: 10px 15px;
	width: 200px;
	border-radius: 25px;
	height: 35px;
	outline: none;
	background-color: rgba(255,255,255,0.5);
	font-weight:600;
	color:#eee;
	font-size: 14px;
	text-align: center;
	margin-top: 20px;
}

.footer-newsletter button{
	height: 35px;
	padding: 0 10px;
	color: #eee;
	letter-spacing: 1px;
	font-weight: 600;
	transition: .3s;
	font-size: 12px;
	border-radius: 25px;
	border: 2px solid transparent;
	background-color: #333;
	margin-left: 5px;
	cursor: pointer;
}

.footer-newsletter button:hover{
	border: 2px solid #333;
	background-color: transparent;
	color: #333;
}

.footer-copyright{
	text-align: center;
	height: 50px;
	line-height: 50px;
}

@media only screen and (max-device-width: 600px){
	.section-footer{
		padding-top: 10vh;
		height: auto;
	}
	
	.footer-container{
		flex-direction: column;
		align-items: center;
		font-size: 2em;
	}
	
	.footer-logo, .footer-logo span{
		font-size: 3vh;
	}
	
	.footer-navigation-link{
		font-size: 1.5vh;
	}
	
	.footer-visitors{
		display: none;
	}
	
	.footer-clients{
		display: none;
	}
	
	.footer-newsletter{
		margin: 0;
	}
	.footer-newsletter p{
		width: 70vw;
		text-align: center;
	}
	
	.footer-newsletter-input{
		display: flex;
		position: static;
		flex-direction: column;
		align-items: center;
	}
	
	.footer-newsletter input{
		width: 60vw;
		border-radius: 5vh;
		height: 5vh;
		margin-top: 3vh;
		font-size: 1.5vh;
	}

	.footer-newsletter button{
		height: 4vh;
		padding: 0 5vh;
		font-size: 1.5vh;
		border-radius: 5vh;
		margin-top: 3vh;
	}
	
	.footer-copyright{
		font-size: 1.5vh;
		height: 7vh;
		line-height: 7vh;
		background-color: #eee;
	}
}