.section-newsletter{
	height: 400px;
	position: relative;
	width: 100%;
	background-image: url(../img/newsletter_bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}


.newsletter-text{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 20px;
}

.newsletter-text h1{
	font-size: 30px;
	color: #eee;
	margin-bottom: 20px;
}

.newsletter-text p{
	font-size: 18px;
	color: #eee;
	margin-bottom: 50px;
}

.newsletter-text input{
	border: none;
	padding: 10px 15px;
	width: 400px;
	border-radius: 25px;
	height: 50px;
	outline: none;
	background-color: rgba(255,255,255,0.5);
	font-weight:600;
	color:#eee;
	font-size: 14px;
	text-align: center;
}

::placeholder{
	color: rgba(255,255,255,0.5);
}

.btn-newsletter{
	padding: 0 30px;
	height: 50px;
	color: #eee;
	letter-spacing: 1px;
	font-weight: 600;
	transition: .3s;
	font-size: 16px;
	border-radius: 25px;
	border: 3px solid transparent;
	background-color: #C1292E;
	margin-left: 20px;
	cursor: pointer;
}

.btn-newsletter:hover{
	background-color: transparent;
	border: 3px solid #C1292E;
}





