.offers-section{
	background-color: white;
	width: 100%;
	padding: 80px 0px;
	margin-top: 80px;
}

.offers-container{
	display: flex;
	justify-content: space-between;
}

.offer-box{
	flex-basis: 23%;
	height: 400px;
	background-color: #eee;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	letter-spacing: 0.5px;
}

.offer-amount{
	height: 200px;
	text-align: center;
	padding-top: 40px;
}

.offer-amount h2{
	font-weight: 600;
	margin-bottom: 30px;
	color: #bfbfbf;
}

.offer-amount span{
	font-size: 50px;
	font-weight: 500;
}

.offer-details{
	height: 48px;
	text-align: center;
	border-top: 2px solid white;
	line-height: 48px;
	color:#333;
}

.offer-details:last-child{
	line-height: 55px;
	height: 56px;
	font-weight: 700;
	transition: .3s;
	border-radius: 0 0 25px 25px;
	background-color: #C1292E;
	color: white;
	cursor: pointer;
	border-top: none;
}

.offer-details:last-child:hover{
	font-size: 18px;
}

@media only screen and (max-device-width: 600px){
	.offers-section{
		padding: 10vh 0;
	}

	.offers-container{
		display: grid;
		grid-template-columns: repeat(1,0.7fr);
		justify-content: center;
	}
	
	.offer-box{
		height: 50vh;
		justify-content: space-between;
		margin-top: 5vh;
	}
	
	.offer-amount{
		padding-top: 5vh;
		height: 20vh;
	}

	.offer-amount h2{
		font-size: 3.5vh;
	}

	.offer-amount p{
		font-size: 2vh;
	}
	
	.offer-amount span{
		font-size: 3.5vh;
	}

	.offer-details{
		height: 10vh;
		font-size: 1.7vh;
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.offer-details:last-child{
		height: 7vh;
	}
	
	.offer-details:last-child:hover{
		font-size: 1.7vh;
	}
	
}



