@import "_mixins.scss";

/*blog.scss */

.blog-section{
	padding-top: 80px;
}

.blog-container{
	display: flex;
	justify-content: space-between;
}

.box-blog{
	flex-basis: 30%;

     .blog-image{
         @include backgroundImage(220px);
     }

     @for $i from 1 through 3{
          .blog-image-#{$i}{
               width: 100%;
               background-image: url(../img/blog_image_#{$i}.jpg);
          }
     }
}

.blog-text{
	padding: 10px;

     h2{
          margin: 20px 0;
          height: 60px;
          letter-spacing: 0.5px;
     }

     
     p{
          letter-spacing: 0.5px;
          height: 200px;
     }
}

.blog-icon{
	display: flex;
	justify-content: space-between;

     .blog-date{
          font-size: 0.9rem;
          font-weight: 700;
     }

     .blog-comment{
          font-weight: 700;
          font-size: 0.9rem;
     }

     .btn-blog{
          color: $redColor;
          font-weight: 700;
          letter-spacing: 1px;
          cursor: pointer;
          font-size: 0.9rem;
          transition: .3s;

          &:hover{
               color: $fontColorDark;
          }
     }

     i{
          margin-right: 5px;
     }

     a{
          color: $redColor;
          transition: .3s;

          span{
               color: $fontColorDark;
	          transition: .3s;

               &:hover{
                    color:$redColor;
               }
          }
     }
}

@media only screen and (max-device-width: 600px){
	.blog-section{
		padding-top: 10vh;
	}
	
	.blog-container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.box-blog{
		margin-bottom: 10vh;
		width: 65vw;

          .blog-image{
               height: 40vh;
          }
	}
	
	
	.blog-text{
		height: 30vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		
          h2{
               font-size: 3rem;
          }

          p{
               font-size: 1.8rem;
          }
     
	}

     .blog-icon{
          .blog-date{
               font-size: 1.8rem;
          }

          .blog-comment{
               font-size: 1.8rem;
          }

          .btn-blog{
               font-size: 1.8rem;
          }
     }
}


