@import "_mixins.scss";

/* header.scss */

.section-header{
	@include backgroundHeaderImage("background_header.jpg")
}

.dark-background{
	background-color:rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
}

.navigation{
	display: flex;
	justify-content: space-between;
	line-height: 100px;
	height: 100px;
}

.navigation-logo{
	margin-left: 50px;
	color: $fontColorWhite;
	font-weight: 700;
	font-size: 1.8em;
	cursor: pointer;

	span{
		color: $redColor;
	}
}

.navigation-links{
	position: sticky;
	display: flex;
	justify-content: space-around;
	list-style: none;
     margin-right: 50px;
     
     .navigation-link{
          @include roundButton;
          font-size:0.9em;
		border: 2px solid transparent;
		color: $fontColorWhite;
          
          &:hover{
               border: 2px solid $redColor;
          }
     }
}

.header-text{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	color: $fontColorWhite;
	text-align: center;
	letter-spacing: 1px;

	h1{
		font-size: 2.5em;
		text-align: center;
		margin-bottom: 5px;
		font-weight: 700;
	}

	h2{
		font-size: 1.4em;
		text-align: center;
		margin-bottom: 30px;
		font-weight: 500;
	}
}

.header-buttons{
	margin-top: 40px;

	a{
		@include roundButton;
		color: $fontColorWhite;
		border: 2px solid transparent;
		background-color: $redColor;

		&:first-child{
			margin-right: 20px;
		}

		&:hover{
			background-color: transparent;
			border: 2px solid $redColor;
		}
	}
}

//mobile navigation


.burger{
	display: none;

	div{
		width: 5vh;
		height: .5vh;
		background-color: #eee;
		margin: 0.7vh;
		border-radius: 10px;
		transition: all 0.3s ease;
	}
}

// mobile 

@media only screen and (max-device-width: 600px){
	.navigation-logo{
		font-size: 5em;
		margin-top:5vh;
		margin-left: 5vh;
	}
	
	.navigation-links{
		display: none;
	}
	
	.header-text{
		width: 70vw;

		h1{
			font-size: 4em;
		}

		h2{
			font-size: 2em;
		}

		p{
			font-size: 1.5em;
		}
	}
	
	.header-buttons{
		margin-top: 3vh;
		display: flex;
		flex-direction: column;
		align-items: center;

		a{
			font-size: 2.2em;
			width: 35vw;
			margin-bottom: 1.5vh;

			&:first-child{
				margin-right: 0;
			}
		}
	}

	//burger nav

	.navigation{
		line-height: normal;
	}

	.navigation-links{
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: black;;
		z-index: 2;
		margin: 0;
		padding: 20vh 0;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;	
		opacity: 0;
		transition: 0.7s;

		.navigation-link{
			font-size: 2em;
			opacity: 0;
		}
	}
	
	.active-links{
		opacity: 0.9;
	}

	.burger{
		z-index: 3;
		margin-top:5vh;
		margin-right: 5vh;
		display: block;
	}
}

//animation mobile link

@keyframes navLinkFade {
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-0.6vh, 1vh);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-0.6vh, -1vh);
}
